* {
    box-sizing: border-box -moz-text-size-adjust 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: normal 100%/1.5 georgia;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #f05222fc;
   /* background-color: #FF6347;*/
}

.mySlides {
    display: none margin-bottom -50px;
}

img {
    border-radius: 15px;
    vertical-align: middle;
}

.masthead {
    padding: 1em 0;
}


/*=============logo color transformation===============*/

#logo-img {
    mix-blend-mode: difference;
}

h1 {
    text-align: center;
    margin: 0;
    /*font-weight: bold;*/
}

.header {
    font-size: 55px;
    margin: 0;
    color: #00000099;
    text-align: center;
}


/*==========nav section============*/

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #02020275;
    border-radius: 4px;
    width: 20%;
    overflow: hidden;
    /*text-align: center;*/
    display: none;
    /*position: fixed;*/
}

.nav li {
    /*display: block;*/
    float: left;
    width: 50%;
}

li a{
    display: block;
}

.nav a {
    color: #ffffff94;
    display: block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    border-bottom: 1px solid #00000040;
    border-left: 1px solid #00000040;
}

.nav a:hover {
    background-color: #cf0000;
    color: black;
}


/*sudo selector called "checked" this allows us to style nav-check if is actually checked.
When its not checked ccs rules will not applied.
siblings seclector ~ "Till Bar"*/

.nav-check:checked~.nav {
    display: block;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-top {
    overflow: hidden;
    padding: 10px;
    margin-top: -203px;
}

.nav-label {
    display: block;
    cursor: pointer;
}

label i {
    display: inline-block;
    padding: .5rem .7rem;
    background-color: black;
    border: 2px solid #ccc;
    border-radius: 6px;
    color: #f05222;
    font-weight: bold;
    font-size: 1.120rem;
    font-family: "PT sans narrow", sans-serif;
    text-decoration: none;
    text-transform: none;
    transition: all 250ms linear;
}

label i:hover {
    background-color: #02020275;
    color: black;
    border-radius: 18px;
    padding: none;
}

.links-to-home {
    float: right;
    clear: right;
    margin-right: -15px;
    margin-top: -8px;
   /* font-size: 120;*/
}

.login-section a{
  color: black;
}
.membership-to-home{
    
    margin-right: 0px;
     float: right;
     margin-top: -8px;
}

.img {
    mix-blend-mode: color-burn;
}

#button {
    font-size: 38px;
    padding: 2px 3px 1px 5px;
}


/*log-in section*/

.nav-top p:first-child {
    float: right;
    margin-top: 0em;
}

.nav-top i:last-child {
    margin: 1.5px;
    margin-top: 0em;
}


/* Slideshow container */

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    margin-bottom: -343px;
    margin-top: 250px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -64px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover,
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: -65px;
    width: 100%;
    text-align: center;
    animation: flash 1s ease-out infinite;
}

@keyframes flash {
    from {
        text: linear-gradient(to top, #ffc900, #fadb66);
        color: red;
    }
}


/*profile text */

.profile {
    color: white;
    text-decoration: none;
    position: relative;
    text-align: center;
    bottom: -40px;
    font-size: 16px;
    font-weight: bold;
}

.profile a {
    text-decoration: none;
    color: white;
}

.username {
    text-decoration: none;
    color: white;
}

#back-profile {
    background: url("../img/contact-bg.jpg") no-repeat center;
    border-radius: 15px;
}


/*onlick Yes or No button */

button {
    text-decoration: none;
    font-family: sans-serif;
    -webkit-text-stroke: 1px blue;
    font-size: 1.9em;
    /* display: block;*/
    cursor: pointer;
}

.move-button {
    position: relative;
    bottom: -60px;
}


/* Hide search info sections */

.search-info {
    display: none;
}


/* Number text (1/6 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
}


/* The dots/bullets/indicators */

.dot {
    /*position: relative;
bottom: 177px;*/
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active_1,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*@media screen and (min-width: 993px){

}*/

.section-1 {
    display: block;
    margin-top: 410px;
    text-align: center;
}

.section-1 p {
    font-size: 30px;
    /*color: white;*/
}

p strong {
    display: block;
}

.section-2 {
    text-align: center;
}

.join-button {
    display: inline-block;
    line-height: 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    white-space: nowrap;
    background: url(../img/button1.png) right center no-repeat #eeeeee;
    padding: 15px 45px 15px 25px;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

.join-button:hover {
    color: #fff;
    background: url(../img/button1_over.png) right center no-repeat #f05222;
}

#flex-container {
    display: flex;
    justify-content: center;
    flex-basis: auto;
}

#flex-container div {
    flex-basis: 206px;
    border: 3px solid rgba(2, 2, 2, 0.73);
    padding: 7px 7px 7px 6px;
    margin: 3px;
}

.box1,
.border-bottom {
    text-align: center;
}


/*.border-bottom{
border-bottom:2px solid black;

}*/

.offers {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height:500px;

}


/*profiles css section*/

#profile-container {
    margin-top: 207px;
    position: relative;
}

.profile-wrapper {
    max-width: 750px;
    position: relative;
    margin: auto;
}

.profile-details {
    text-align: center;
    background: url("../img/contact-bg.jpg") no-repeat center;
    color: white;
    border-radius: 15px;
}

.wink {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 13px 4px 13px;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 25px;
}

.wink:hover {
    color: #fff;
}

.move-wink {
    text-align: center;
}

.profile-info {
   /* display: block;*/
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;

}

.h2,
b {
    font-weight: bold;
   
}

.about {
     margin-top: -9px;
    width: 350px;
    padding: 3px 4px 5px 6px;
    border: 2px solid black;
}

.hobbies {
    text-align: center;
}

form fieldset {
    margin: auto;
    margin-bottom: 32px;
}

fieldset {
    width: 620px;
    border-radius: 10px;
    border: 2px solid #020202cc;
    background-color: #a737157a;
    line-height: 1.6em;
}

legend {
    font-style: italic;
    color: #140b0b;
    font-weight: bold;
}

.dropdown-select{
    top: -37px;
    display: block;
    margin: 1em;
    width: 32.0em;
    position: relative;
    left: 2.7em;
}

.move-textarea {
    margin-top: -50px;
    position: relative;
}

#message {
    margin-left: 64px;
    margin-top: -19px;
}

.submit {
    float: right;
    margin-top: -11px;
    margin-right: 49px;
    position: relative;
}

.submit input {
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

label.warning {
    top: -12px;
    position: relative;
}


/* search*/

.search-form {
    font-weight: bold;
    position: relative;
}

#search-input {
    width: 201px;
    height: 30px;
    position: absolute;
   
}

i.fa.fa-search.fa-2x {
    color: black;
    font-size: 20.5px;
    /*margin-top: -1px;*/
    /*background-color: black;*/
    /*border-radius: 4px;*/
    /*margin-bottom: 0px;*/
    /*padding: 1px 2px 2px 1px;*/
    cursor: pointer;
    position: relative;
    right: -176px;
    top: 5px;
}

input[name="age"]{
    text-align: center;
}

input[type="text"]:focus, input[type="search"]:focus{
  
    background-color: lightblue;
}


/* form section*/

.form-container {
    margin-top: 290px;
}

.search-img-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    flex-basis: auto;*/
}

.search-info {
    max-width: 750px;
    margin: auto;
}

.search-info img {
    margin-bottom: -20px;
    margin-top: 120px;
}

#ages-range {
    width: 250px;
    right: -38px;
}



/*login section ============================ update back to center*/ 

.tab-container {
    text-align: center;
    margin-top: 240px;
    display: grid;
    justify-content: normal;
    justify-items:center;
}

div#registerTabContent.tab-content.active {
    display: flex;
    align-items: center;
    justify-content: normal;
    justify-items:center;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    background-color: #aaa;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tab.active {
    background-color: white;
}

.tab-content {
    display: none;
}

.tab-content.active  {
    display: block;
}

#user {
    margin-top: 50px;
}
p #offer {
    font-weight: normal;
    font-size: 12pt;
}
#offer a{
    text-decoration: none;
    color: black; 
}

#rem_und {
    display: block;
    text-decoration: none;
    color: black;
}

#sign-in {
    margin-top: 20px;
    color: #ffffffab;
    background-color: #c8341ccc;
    padding: 4px 62px;
    border-radius: 2px;
    border-color: #ffffffbf;
    font-size: 12pt;
    cursor: pointer;
}

#register {
    margin-top: 20px;
    color: #ffffffab;
    background-color: #c8341ccc;
    padding: 4px 62px;
    border-radius: 2px;
    border-color: #ffffffbf;
    font-size: 12pt;
    cursor: pointer;
}

#register:hover, #membersjoin:hover, #sign-in:hover {
    background: black;
}


#showPwd{
   /* margin-left: -50px;*/
    margin-top: 15px;
}

#registerNameInput, #registerUsernameInput, #registerEmailInput, #registerEmailConfirmInput, #registerPasswordInput{
     display: block;
}
 
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
  
    background-color: lightblue;
}

textarea[name="liketomeet"]:focus, textarea[name="about-me"]:focus, textarea[name="text"]:focus{
    background-color: lightblue;
}

div.password1{
    width: 193px;
}

 /*============Reset Password=================*/

.container-login{
    margin-top: 320px;
}

.links-to-login{
    float: right;
    margin-right: -19px;
}

label.move-reset-password{
    margin-left: 217px;
}

input#pwd.move-reset-password{
     margin-left: 215px;
}

#submit{
    float: right;
    margin-right:22px;
    margin-top: 3px;
}
/* Membership section===============================================*/
#membership{
    margin-top: 230px;
    font-size: 23px;
   /* margin: 0;*/
    color: #00000099;
    font-weight: bold;
}

.member {
    text-align: center;
    text-shadow: 2px -4px 6px red;
    color:black;
    border: 7px solid white;
    font-size: 1em;
    border-radius: 5px;
    width: 530px;
    min-height: 67px;
    margin: auto;
}

select#membersGender {
    display: inline-block;
    width: 224px;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
}

input#membersDateOfBirth {
    overflow: hidden;
    width: 224px;
    height: 28px;
    margin-bottom: 1.2em;
    border: 2px;
    padding: 1px 2px;
    text-align: center;
}

select#membersemploy {
    overflow: hidden;
    display: inline-block;
    width: 224px;
    height: 28px;
    margin: 0em;
    border: 2px;
    padding: 1px 2px;
    text-align: center;
}

.membership-join-button{
     color:#f05222;
    background-color: beige;
    padding: 4px 9px;
    float: center;
    border-radius: 4px ;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.membership-join-button:hover {
    color: black;
}

textarea#membershipAboutMe{
    width: 93%;
    clear: left;
}

.membersjoin{
    margin-top: -23px;
}

textarea#membershipIlikeToMeet{
    width: 93%;
    clear: left;
}

.about-me{
    margin-top:5px;

}

.liketomeet{
 margin-top:3px;
}

#membersjoin {
    margin-top: 20px;
    color: #ffffffab;
    background-color: #c8341ccc;
    padding: 4px 62px;
    border-radius: 2px;
    border-color: #ffffffbf;
    font-size: 12pt;
    cursor: pointer;
    margin-bottom: 10px;
}

#membersfullname, #membersUsername, #membersEmail, #membersEmailConfirm, #password, #PassConfirm, input#membersDateOfBirth{
    display: block;
    margin-left: 153px;
}

.hide{
    display: none;
}

.fail { background-image: url("../img/cross.png"); }
.pass { background-image: url("../img/tick.png"); }
.fail, .pass {
  background-repeat: no-repeat; 
  background-position: right center;
}

span.error.message {
    padding-top: 1px;
    color: white;
    /*display: block;*/
    background-image: url("../img/icon-warning.png");
    background-position: left 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: -1.4em;
    margin-bottom: 1.4em;
    padding-left: 20px;
}

/*=================== Payment Section=============*/
#wrapper {
    margin-top: 210px;
    text-align: center;
}

/*=========Match Not Found Section=================*/

.hidden {
    display: none;
    text-align: center;
}

.hidden-text{
    font-size: 35px;
    color : black; 
    font-style: italic;
    font-family: georgia;
}

/*=========Contact US============*/
#contactUs{
    margin-top: 300px;
    padding: 0px;

}


.feature .leftColumn{
    /*width: 50%;*/
    float: left;
    clear: left;
    /*text-align: center;*/
    padding: 0;
    margin-left: 10px;
  

}

.feature .rightColumn .contactText{
 
    /*width: 50%;*/
    margin-right: 58%;
    text-align: center;
    /*float: right;*/
    

   

}

.social-logo{
    text-align: center;
}

.feature .leftColumn .contactText, .feature .rightColumn .contactText {
    padding: 19px 20px 20px 20px;
    min-height: 260px;
   


}


.feature .leftColumn .contactText a, .feature .rightColumn .contactText a{
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;

}


.feature .leftColumn .contactText a:hover, .feature .rightColumn .contactText a:hover{
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    background-color: #f05222fc;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;

}

.feature hr{
    background-color: black;
    height: 1px;
    border:0;
    width: 300px;
}

div.logos-finder img{
   font-size: 50px;
}

#subscribe{
   /* background-color:#0000006b;*/
    height: 300px;
  margin-top: 91px;
    padding-top: 13px;
    text-align: center;
}
#subscribe h2{
    margin: 15px 0 20px 0;
    color: white;
    font-size: 24px;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}

#subscribe input[type=text]{
    border:0;
    width: 250px;
    height: 28px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 30px;
}
#subscribe input[type=submit]{
    border: 0;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 30px;
    -webkit-transition: all 500ms ease-out;
    -ms-transition:all 500ms ease-out;
    transition: all 500ms ease-out;
    cursor: pointer;
}

#subscribe input[type=submit]:hover{
    background-color: #f05222fc;
    -webkit-transition:all 250ms ease-out;
    -ms-transition:all 250ms ease-out;
    transition: all 250ms ease-out;
}#footer-wrapper{
    background-color: #0000006b;
}
.logos-finder{
    font-weight: bold;
    color: white;
}

#footer{
  /*  background-color: #0000006b;*/
    height: 62px;
    text-align: center;
    margin-top: 75px;
    
}

#footer ul{
    list-style-type: none;
    margin:28px 0 0 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    
}

#footer li{
    float: left;

}

#footer li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
}

#footer li a:hover{
    color:#f05222fc;
    -webkit-transition:all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
}

/*====copy right====*/

#copyright{
    text-align: center;
    /*background-color:#0000006b;*/
    color: white;
    height: 24px;
    padding-top: 18px;
    font-size: 16px; 

}

#copyright .logo{
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}

/*=======footer nav bottom=======*/

.footer{
    /*background-color: #0000007d;*/
    height: 70px;
    text-align: center;
}

.footer ul{
    list-style-type: none;
    margin:28px 0 0 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    
}

.footer li{
    float: left;

}

.footer li a{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
}
.copyright{
    text-align: center;
    color: black;
   /* height: 40px;
    padding-top: 18px;*/
    font-size: 16px; 
}

.copyright .logo{
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}
